---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mi Portafolio - Inicio">
  <main>
    <div id="home" class="container">
      <div class="columna-fija">
        <h1>Francisco Krossler</h1>
        <h2>Desenvolvedor de Software en Gangain</h2>
        <p>
          Desarrollé soluciones tecnológicas en 
          <a
            class="link-1"
            href="https://www.instagram.com/gangain_ar/"
            target="_blank">Gangain</a>
            y colaboro en landing pages para proyectos como <a
            class="link-1"
            href="https://www.instagram.com/gangain_ar/"
            target="_blank">Norwell</a> y 
          <a
            class="link-1"
            href="https://www.instagram.com/gangain_ar/"
            target="_blank">Religare</a>.
        </p>
        <p>
          Actualmente realizo mantenimiento y implemento nuevas funcionalidades en un software de gestión y logística.
        </p>
        <aside>
          <li>React</li>
          <li>Astro</li>
          <li>Node</li>
          <li>CSS</li>
        </aside>

      </div>
      <div></div>
      <div class="columna-scroll">
      <h2>Experiências de Trabajo</h2>
        <Card
          tech="React"
          title="Gangain Ecommerce / SaaS"
          description="asdasdas"
          href="www.gangain.com.ar"
        />
        <Card
          tech="React"
          title="Gangain Ecommerce / SaaS"
          description="asdasdas"
          href="www.gangain.com.ar"
        />
        <Card
          tech="React"
          title="Gangain Ecommerce / SaaS"
          description="asdasdas"
          href="www.gangain.com.ar"
        />
        <h2>Proyectos personales</h2>
      </div>
    </div>
  </main>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: 600px 600px;
    max-width: 1200px;
    padding-block: 8rem;
    margin: 0rem auto;
  }

  .columna-fija {
    position: fixed;
    width: 600px;
  }

  .columna-scroll {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    gap: .5rem;
  }

  .columna-scroll h2{
    font-size: 1.4rem;
    font-weight: 600;
    margin-block: 2.1rem 2.2rem;
  }

  .columna-fija h1 {
    font-size: 3.4rem;
  }

  .columna-fija h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-block: .2rem 2.2rem;
  }

  .columna-fija p {
    max-width: 450px;
    font-size: 15px;
    margin-block: 1rem;
    color: #949495;
    line-height: 1.7rem;
  }

  .columna-fija .link-1{
    color: white;
    padding: 0;
  }

  aside{
    padding-block: 2rem;
    display: flex;
    gap: 3rem;
  }

  aside li{
    list-style: disc;
    font-style: italic;
    font-size: 14px;
  }
  
</style>
