---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mi Portafolio - Inicio">
	<main>
		projectos
	</main>
</Layout>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
		padding: 2rem;
		text-align: center;
	}
	.projects-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
		margin-top: 2rem;
	}
</style>