---
import { Icon } from "astro-icon/components";
---

<header>
  <nav>
    <li>
      <a href="#home">
        <Icon class="icon" name="mdi:home" />
      </a>
      <span>Início</span>
    </li>
    <ul>
      <li>
        <a href="https://github.com/tu_nombre_de_usuario" target="_blank"
          ><Icon class="icon" name="mdi:github" />
        </a>
        <span>Github</span>
      </li>
      <li>
        <a href="/about">
          <Icon class="icon" name="mdi:file-document-outline" />
        </a>
        <span>Descargar CV</span>
      </li>
      <li>
        <a href="/contact"
          ><Icon class="icon" name="mdi:message-minus-outline" />
        </a>
        <span>Contáctame</span>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    width: 100vw;
    position: fixed;
    background-color: #151515;
    box-shadow: 0px 10px 10px #151515;
    padding-block: 2rem;
    text-align: center;
    z-index: 10000;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: .2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  ul {
    display: flex;
    text-align: center;
    gap: 4rem;
  }

  li {
    transition: 0.3s ease;
    position: relative;
  }

  li:hover {
    scale: 1.4;
  }

  li:hover a{
    color: #43a2ff;
  }

  a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: .3s ease;
    font-weight: 600;
  }

  .icon {
    scale: 2;
  }

  span {
    pointer-events: none;
    position: absolute;
    text-wrap: nowrap;
    top: 28px;
    right: -28px;
    color: #43a2ff;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #43a2ff;
    width: 72px;
    border-radius: 12px;
    opacity: 0;
    transition: 0.3s ease;
    padding-block: 1px 2px;
  }

  li:hover span {
    opacity: 1;
  }
</style>
